doctype
html(lang="es")
    head
        meta(caharset="utf-8")
        title Proyecto Final Triangle
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet", href="../public/css/style.css")
    body
        section.row
            .col.s2.offset-s9.grey-text.iconosHome
                i(class="fa fa-facebook", aria-hidden="true")
                i(class="fa fa-twitter", aria-hidden="true")
                i(class="fa fa-google-plus", aria-hidden="true")
                i(class="fa fa-dribbble", aria-hidden="true")
                i(class="fa fa-instagram", aria-hidden="true")
        nav
            .container
                a(href="#").brand-logo.left
                    img.logo.valign-wrapper(src="../assets/images/logo.png")
                ul.right.hide-on-med-and-down
                    li
                        a.material-icons.black-text(href="indexHome.html") HOME 
                    li
                        a.material-icons.cyan-text(href="index.html") PAGES arrow_drop_down
                    li
                        a.material-icons.black-text BLOG arrow_drop_down
                    li
                        a.material-icons.black-text(href="indexPorfolio.html") PORTFOLIO arrow_drop_down
                    li
                        a.material-icons.black-text SHORTCODES
                    li    
                        i.material-icons.cyan-text search
        section.espacio
            .row.fondoMotana
                .col.s4.offset-s1 
                    h5 We Are Creative Nerds
                    p Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.
                    button.sinFondo.cyan-text SIGN UP
                .col.s6
                    img.responsive-img.montana(src="../assets/images/home/slider/hill.png")
                    img.responsive-img.casa(src="../assets/images/home/slider/house.png")
                    img.responsive-img.sol(src="../assets/images/home/slider/sun.png")
                    img.responsive-img.aves1(src="../assets/images/home/slider/birds1.png")
                    img.responsive-img.aves2(src="../assets/images/home/slider/birds2.png")
        section.container.center
            .row.espacio
                .col.s4 
                    h5 Incredibly Responsive
                    p Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.
                .col.s4 
                    h5 Superior Typography
                    p Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.
                .col.s4 
                    h5 Swift Page Builder
                    p Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.
        section.row.fondoTriangulosHome.valign-wrapper
                .col.s2.offset-s6.center
                    button.sinFondo.cyan-text TAKE THE TOUR
                .col.s4.center
                    img.responsive-img(src="../assets/images/home/tour-icon2.png")
        section.container.espacio
            .row
                .col.s5
                    img.responsive-img(src="../assets/images/home/image1.png")
                .col.s7
                    h5 Experienced and Enthusiastic
                    p Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.
            .row
                .col.s7
                    h5 Built for the Responsive Web
                    p Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.
                .col.s5
                    img.responsive-img(src="../assets/images/home/image2.png") 
            .row
                .col.s5
                    img.responsive-img(src="../assets/images/home/image3.png")
                .col.s7
                    h5.grey-text Experienced and Enthusiastic
                    p Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.
        section.container.center
            img.responsive-img(src="../assets/images/home/clients.png")
            h5 Happy Clients
            p.espacioLineas Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            p.espacioLineas Ut enim ad minim veniam, quis nostrud
        section.container.fondoCirculos
            img.responsive-img(src="../assets/images/home/under.png")
        section.footer.espacio
            .row
                .col.s4.offset-s1
                    h5 Testimonial
                    .col.s4
                        img(src="../assets/images/home/profile1.png")
                    .col.s8
                        p "Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail."
                        p.red-text - Jhon Kalis
                    .col.s4
                        img(src="../assets/images/home/profile2.png")
                    .col.s8
                        p "Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod."
                        p.red-text - Abraham Josef
                .col.s3   
                    h5 Contacts
                    p.espacioLineas E-mail: email@email.com 
                    p.espacioLineas Phone: +1 (123) 456 7890 
                    p.espacioLineas Fax: +1 (123) 456 7891 
                    br
                    h5 Address
                    p.espacioLineas Unit C2, St.Vincent's Trading Est., 
                    p.espacioLineas Feeder Road,  
                    p.espacioLineas Bristol, BS2 0UY  
                    p.espacioLineas United Kingdom 
                .col.s3
                    h5 Send a message
                    textarea(placeholder="Name")
                    textarea(placeholder="Email Id")
                    textarea(placeholder="Your text here")
                    button.btn.btn-large.submit.center SUBMIT
            section.copy.center.white-text
                p ©Your Company 2014, All Rights Reserved.
                p Crafted by    
                    span.blue-text Allie

            
            
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")
        script(src="../public/template.js")
        script(type="text/javascript", src="../public/app.js")