doctype
html(lang="es")
    head
        meta(caharset="utf-8")
        title Proyecto Final Triangle
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet", href="../public/css/style.css")
    body
        section.row
            .col.s2.offset-s9.grey-text.iconosHome
                i(class="fa fa-facebook", aria-hidden="true")
                i(class="fa fa-twitter", aria-hidden="true")
                i(class="fa fa-google-plus", aria-hidden="true")
                i(class="fa fa-dribbble", aria-hidden="true")
                i(class="fa fa-instagram", aria-hidden="true")
        nav
            .container
                a(href="#").brand-logo.left
                    img.logo.valign-wrapper(src="../assets/images/logo.png")
                ul.right.hide-on-med-and-down
                    li
                        a.material-icons.black-text(href="indexHome.html") HOME 
                    li
                        a.material-icons.cyan-text(href="index.html") PAGES arrow_drop_down
                    li
                        a.material-icons.black-text(href="indexBlog.html") BLOG arrow_drop_down
                    li
                        a.material-icons.black-text(href="indexPorfolio.html") PORTFOLIO arrow_drop_down
                    li
                        a.material-icons.black-text(href="indexShortcodes.html") SHORTODES
                    li    
                        i.material-icons.cyan-text search
        section.row.fondoTriangulos
            .col.s4.offset-s1 
                h5 Blog
                p Blog with left sidebar
        section.container
            .row
                .col.s3
                    img.responsive-img(src="../assets/images/blog/masonary/1.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/2.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/9.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                .col.s3
                    img.responsive-img(src="../assets/images/blog/masonary/3.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                        i(class="fa fa-clock-o cyan-text", aria-hidden="true") 14 Feb
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/4.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/5.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                .col.s3
                    img.responsive-img(src="../assets/images/blog/masonary/6.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/10.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                .col.s3
                    img.responsive-img(src="../assets/images/blog/masonary/8.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/3.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                        i(class="fa fa-clock-o cyan-text", aria-hidden="true") 14 Feb
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                    img.responsive-img(src="../assets/images/blog/masonary/7.jpg")
                    p
                        i(class="fa fa-tag cyan-text", aria-hidden="true") Creative
                    h5 Advanced business cards design
                    p.cyan-text Posted by micron News
                    p.justify Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Nam liber [...]
                    p.cyan-text View More
                    p
                        i(class="fa fa-heart cyan-text aumentarEspacio", aria-hidden="true") 32 Love          
                        i(class="fa fa-comments cyan-text", aria-hidden="true") 3 Comments
                    .divider
                        
        section.container.fondoCirculos.espacio
            img.responsive-img(src="../assets/images/home/under.png")
        section.footer.espacio
            .row
                .col.s4.offset-s1
                    h5 Testimonial
                    .col.s4
                        img(src="../assets/images/home/profile1.png")
                    .col.s8
                        p "Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail."
                        p.red-text - Jhon Kalis
                    .col.s4
                        img(src="../assets/images/home/profile2.png")
                    .col.s8
                        p "Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod."
                        p.red-text - Abraham Josef
                .col.s3   
                    h5 Contacts
                    p.espacioLineas E-mail: email@email.com 
                    p.espacioLineas Phone: +1 (123) 456 7890 
                    p.espacioLineas Fax: +1 (123) 456 7891 
                    br
                    h5 Address
                    p.espacioLineas Unit C2, St.Vincent's Trading Est., 
                    p.espacioLineas Feeder Road,  
                    p.espacioLineas Bristol, BS2 0UY  
                    p.espacioLineas United Kingdom 
                .col.s3
                    h5 Send a message
                    textarea(placeholder="Name")
                    textarea(placeholder="Email Id")
                    textarea(placeholder="Your text here")
                    button.btn.btn-large.submit.center SUBMIT
            section.copy.center.white-text
                p ©Your Company 2014, All Rights Reserved.
                p Crafted by    
                    span.blue-text Allie


            
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")
        script(src="../public/template.js")
        script(type="text/javascript", src="../public/app.js")
        