/*.iconosHome{
    letter-spacing: 10px;
}
nav{
    background-color: white;
    box-shadow: none;
}

a.material-icons{
    font-size: 15px;
}*/

$titulos: 15px;
$blancos: white;
$espacios: 10x;
$espacioSuperior: 100px;
$interlineadoChiquito: 5px;

.iconosHome{
    letter-spacing: $espacios;
}

nav{
    background-color: $blancos;
    box-shadow: none;
    a.material-icons{
        font-size: $titulos;
    }
}

.fondoTriangulos{
    background-image: url(../../assets/images/404-bg.png);
    background-position: center;
    opacity: .8;
}

.footer{
    background-image: url(../../assets/images/home/footer.png);
    background-size: cover;
    background-position: bottom;
}

.espacioLineas{
    line-height: $interlineadoChiquito;
}
.espacio{
    padding-top: $espacioSuperior;
}